{{#year}}
<h2>{{year}}</h2>
<ol id="posts">
    {{#articles}}
    <li>
        <span class="meta">
        {{date:x-format-time=["string", "%Y-%m-%d"]}}
        </span> <a href="{{:x-get-path=/article/}}{{id}}/">{{title}}</a>
    </li>
    {{/articles}}
</ol>
<div id="pagination">
    <span>{{language_page_of_pages}}</span>
    {{#prev}}
    <a id="prev" href="{{:x-get-path=/archives/page/}}{{current_page:x-plus=-1}}/">{{language_prev}}</a>
    {{/prev}}
    {{#next}}
    <a id="next" href="{{:x-get-path=/archives/page/}}{{current_page:x-plus=1}}/">{{language_next}}</a>
    {{/next}} 
</div>
{{/year}}